body {
	margin-left:20%;
	margin-right:20%;
	background-image: url(http://cdn.wallpapersafari.com/87/51/gdcsJn.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#cabeza {
	background: #333;
    color: white;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}   
#cabeza a {
    color: white;
}
#logo {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo:hover {
    color: #0b76a6;
}
#logo .sitio-nombre {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}
#logo .creadores {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}   
nav ul li {
    display: inline-block;
    line-height: 80px;
}            
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}            
nav ul li a:hover {
    background: #0b76a6;
}
#derecha {
	margin-left:70%;
	margin-top:15px;
}
#derecha a {
	text-decoration:none;
	color:#5858FA;
	margin-right:20px;
}
#cuerpo {
	background-color: rgba(255, 255, 255, 0.6);
    height:150%;
	padding-bottom:330px;
}
#izquierda {
	width:50%;
	text-align:center;
	margin-top:20px;
	float:left;
}
#izquierda img {
	width:300px;
	height:300px;
}
#der {
	margin-left:50%;
	padding-left:20%;
}
label{
    color: #666;
    font-weight: bold
}
 
input{
    /*border: 1px solid #999; No usar esta línea y dejar box-shadow hace efecto de profundidad*/
    border-radius:5px; /*probar con 10px se hacen ovalados los inputs*/
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
    font:bold 12px Arial, Helvetica, sans-serif;
    height: 24px;
    line-height: 20px;
    padding:0 2px;
    width: 230px;
}
#footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
	width: 100%;
	left: 0;
    position: fixed;
}
#footer p {
    margin: 0;
}   