body {
	margin-left:20%;
	margin-right:20%;
}
#cabeza {
	border:1px solid red;
	background-color:#CEF6F5;
	height:50px;
}
#logo {
	width:50px;
}
#logo img {
	margin-left:30px;
	height:50px;
	width:50px;
	float:left;
}
#derecha {
	margin-left:70%;
	margin-top:15px;
}
#derecha a {
	text-decoration:none;
	color:#5858FA;
	margin-right:20px;
}